-i https://pypi.org/simple
aniso8601==3.0.2
click==6.7
flask-restful==0.3.6
flask-sqlalchemy==2.3.2
flask==1.0.2
itsdangerous==0.24
jinja2==2.10
markdown==2.6.11
markupsafe==1.0
pillow==5.2.0
pytz==2018.5
six==1.11.0
sqlalchemy==1.2.10
werkzeug==0.14.1
