[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Markdown = "*"
Pillow = "*"
SQLAlchemy = "*"
Flask-RESTful = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
