[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Markdown = "*"
Pillow = "*"
SQLAlchemy = "*"
Flask-RESTful = "*"
boto3 = "*"
"psycopg2-binary" = "*"
flask-migrate = "*"
requests = "*"
bleach = "*"
gevent = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3"
