@import "base";

body {
	margin: 0;
	font-family: "Fira Sans";
	background-color: #1d1f21;
	color: #b4b6b5;
}

p {
	max-width: 90ch;
}

.lead {
	font-size: 1.25rem;
}

.jumbotron {
	background-color: #27282c;
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.navbar {
	background-color: #27282c;
}


.navbar-link {
	color: #b4b6b5;
}

.navbar-site-name {
	color: #b4b6b5;
}

a {
	color: #637b90;
}

.thread {
	background-color: #27282c;
	color: #b4b6b5;
	border-bottom: 7px solid #b4b6b5;
}

.thread-stats-container {
}

.fas {
	color: #b4b6b5;
}

.text-secondary {
	color: #e57f5d;
}

.post-container {
	margin-bottom: 1rem;
	background-color: #27282c;
	margin-top: 1rem;
}

.board-entry {
	background-color:  #27282c;
	background-blend-mode: luminosity;
	overflow: hidden;
}

.board-label {
	color: #b4b6b5;
	background-color: #27282c;
	text-align: center;
	/* hack in conjuction with overflow above
	  to get rid of the label missing a pixel of the background image sometimes
	  in firefox */
	width: 101%;
}

.btn {
	color: #f8f9fa;
}

.btn-primary {
	background-color: #7f6b86;
}

.btn-secondary {
	background-color: #637b90;
}

.badge {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #b4b6b5;
	text-decoration: none;
}

.badge-secondary {
	background-color: #868e96;
}

.badge-primary {
	background-color: #1d1f21;
}

.modal {
	background: #27282c none repeat scroll 0% 0%;
}

.modal-overlay {
	background-color: #1d1f21;
}
