.board-label {
	font-size: 4em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.board-entry {
	@extend .media-element;
	position: relative;
	background-blend-mode: screen;
}
