.thread {
	width: 300px;
	height: 300px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	padding: 10px;
}
.thread-body {
	margin-left: 1rem;
	margin-right: 1rem;
}
.thread-subject {
	display: block;
	font-weight: bold;
	text-align: center;
}
.catalog-grid {
	display: grid;
	grid-gap: 90px;
	grid-template-columns: repeat(auto-fill, 300px);
}
.catalog-media-container {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.catalog-thumbnail {
	width: auto;
	height: 125px;
}
.thread-stats-container {
	position: absolute;
	bottom: 5px;
	right: 10px;
}
