.media-grid {
	display: grid;
	justify-content: center;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fill, 313px);
}

.media-element {
	@extend .img-thumbnail;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
