.media-grid {
	display: grid;
	justify-content: center;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fill, 313px);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.media-element {
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
