{%- extends "base.html" %}
{% block title %}
administrate board
{% endblock %}
{% block content %}
<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="name">Board name</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ board.name }}">
        </div>
        <div class="form-group">
            <label for="rules">Board rules</label>
            <textarea id="rules" name="rules" class="form-control">{{ board.rules | safe }}</textarea>
            <small class="form-text text-muted">Board rules are written in Markdown.</small>
        </div>
		<div class="form-group">
			<label for="max-threads">Max threads</label>
			<input type="text" id="max-threads" name="max-threads" class="form-control" value="{{ board.max_threads }}">
		</div>
		<div class="form-group">
			<label for="mimetypes">Allowed MIME types</label>
			<input type="text" id="mimetypes" name="mimetypes" class="form-control" value="{{ board.mimetypes | safe }}">
		</div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
