{% macro catalog_view(threads, display_board=False) %}
	<div class="container-fluid">
		<div class="catalog-grid">
			{% for thread in threads %}	
				{% set bg_style = "bg-light" %}
				{% set ns = namespace(bg_style="bg-light", text_style="text-body") %}	
				{% if thread.tags %}
					{% set ns.main_tag = thread.tags[0].name %}
					{% if style_for_tag(ns.main_tag).get("bg_style") %}
						{% set ns.bg_style = style_for_tag(ns.main_tag).get("bg_style") %}
					{% endif %}
					{% if style_for_tag(ns.main_tag).get("text_style") %}
						{% set ns.text_style = style_for_tag(ns.main_tag).get("text_style") %}
					{% endif %}
				{% endif %}
				{% if thread.admin_post %}
					{% set ns.bg_style = "bg-success" %}
					{% set ns.text_style = "text-light" %}
				{% endif %}
				<a href="{{ url_for("threads.view", thread_id=thread["id"]) }}" class="thread {{ ns.bg_style }}">
					<div class="catalog-media-container">
						{% set style_ns = namespace(extra_class="") %}
						{% if thread["spoiler"] == True %}
							<span id="spoiler-label-{{ thread["media"] }}" class="spoiler-label text-danger">!</span>
							{% set style_ns.extra_class = "thumbnail-spoiler" %}
						{% endif %}
						<img class="catalog-thumbnail {{ style_ns.extra_class }}" src="{{ get_thumb_url(thread["media"])}}" >
					</div>
					<div class="p-1">
						{% if thread["subject"] %}
							<h6 class="text-center font-weight-bold {{ ns.text_style }}">{{ thread["subject"] }}</h6>
						{% else %}
							<h6 class="text-center text-muted">No subject</h6>
						{% endif %}
					</div>
					<div class="pb-2 pl-4 pr-4">
						<div class="thread-body {{ ns.text_style }}">
							{{ thread["body"]|safe|truncate(150) }}
						</div>
					</div>
					<span class="thread-stats-container {{ ns.text_style }}">
						{% if display_board %}
							<small>/{{ thread["board"] }}/</small>
						{% endif %}
						<i class="fas fa-comment"></i> {{ thread["num_replies"] }}
						<i class="fas fa-image"></i> {{ thread["num_media"] }}
					</span>
				</a>
			{% endfor %}
		</div>
	</div>
{% endmacro %}
