{%- extends "base.html" %}
{% block title %}
	{% if subject != "" %}
		{{ subject }}
	{% else %}
		view thread
	{% endif %}
{% endblock %}
{% block head %}
	{% if config["CAPTCHA_METHOD"] == "RECAPTCHA" %}
		<script src='https://www.google.com/recaptcha/api.js?render={{ config["RECAPTCHA_SITE_KEY"] }}'></script>
	{% endif %}
	<style>
	 .media-container {
		 position: relative;
		 text-align: center;
	 }
	 .spoiler-label {
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translate(-50%, -50%);
		 font-size: 6em;
	 }
	</style>
	<script>
	 window._STORE = STORE_DATA;
	 window._THREAD = THREAD_ID;
	 window._LIVE_PROXY = '{{ static_resource("js/live-proxy.js") }}';
	</script>
{% endblock %}
{% block navbar %}
	<a id="newPostLink" href="{{ url_for("threads.new_post", thread_id=thread_id) }}" class="navbar-link">New post</a>
	<a href="{{ url_for("threads.view_gallery", thread_id=thread_id) }}" class="navbar-link">Gallery</a>
{% endblock %}
{% block content %}
	<div class="container">
		<div id="thread-container">
TEMPLATE_CONTENT
		</div>
		<a href="#" id="thread-bottom" name="thread-bottom"></a>
		<script>
		 function load_tooltip() {
			 var original_tooltip = $(this)
			 if(original_tooltip.data("loaded") == "true") {
				 return
			 }
			 var post_id = original_tooltip.data("post-id")
			 var post = $("#" + post_id);
			 if(post.length == 1) {
				 original_tooltip.data("loaded", "true")
				 original_tooltip.attr("title", post.find(".post-body").html())
				 original_tooltip.tooltip("_fixTitle")
				 original_tooltip.tooltip("show")
			 } else {
				 var xhr = new XMLHttpRequest()
				 xhr.responseType = "document"
				 xhr.onload = function() {
					 original_tooltip.data("loaded", "true")
					 var post_body = $(this.responseXML).find(".post-body").html()
					 original_tooltip.attr("title", post_body)
					 original_tooltip.tooltip("_fixTitle")
					 original_tooltip.tooltip("show")
				 }
				 var loc = window.location
				 var endpoint = loc.protocol + "//" + loc.hostname + (loc.port? ":" + loc.port : "") + "/threads/post/" + post_id
				 xhr.open("GET", endpoint)
				 xhr.send()
			 }
		 }
		</script>
		<script>
		 $(".post-reply").on("show.bs.tooltip", load_tooltip)
		</script>
		<script>
		 $(function () {
			 $('.post-reply').tooltip()
		 })
		</script>
		<script>
		 $(".img-animated").hover(function() {
			 $(this).attr("src", $(this).data("full"))
			 $(this).data("old-opacity", $(this).css("opacity"))
			 $(this).css("opacity", "1")
			 id = $(this).data("id")
			 $("#spoiler-label-" + id).hide()
		 }, function() {
			 $(this).attr("src", $(this).data("thumb"))
			 $(this).css("opacity", $(this).data("old-opacity"))
			 id = $(this).data("id")
			 $("#spoiler-label-" + id).show()
		 })
		 $(".post-vid").hover(function() {
			 var media_id = $(this).data("id")
			 $("#spoiler-label-" + media_id).toggle()
			 var vid = $("#vid-" + media_id)
			 vid.data("old-opacity", vid.css("opacity"))
			 vid.css("opacity", "1")
			 vid.get(0).play()
			 vid.get(0).onplay = function() {
				 vid.toggle()
				 $("#thumb-" + media_id).toggle()
			 }
		 }, function() {
			 var media_id = $(this).data("id")
			 $("#thumb-" + media_id).toggle()
			 $("#spoiler-label-" + media_id).toggle()
			 var vid = $("#vid-" + media_id)
			 vid.css("opacity", vid.data("old-opacity"))
			 vid.get(0).currentTime = 0
			 vid.get(0).pause()
			 vid.toggle()
		 })
		</script>
	</div>
	<script src="{{ static_resource("js/thread.js") }}"></script>
{% endblock %}
