{%- extends "base.html" %}
{% block title %}
	{% if posts[0]["subject"] != "" %}
		{{ posts[0]["subject"] }}
	{% else %}
		view thread
	{% endif %}
{% endblock %}
{% block head %}
	{% if config["USE_RECAPTCHA"] %}
		<script src='https://www.google.com/recaptcha/api.js?render={{ config["RECAPTCHA_SITE_KEY"] }}'></script>
	{% endif %}
	<style>
	 .media-container {
		 position: relative;
		 text-align: center;
	 }
	 .spoiler-label {
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translate(-50%, -50%);
		 font-size: 6em;
	 }
	</style>
{% endblock %}
{% block navbar %}
	<noscript>
		<a href="{{ url_for("threads.new_post", thread_id=thread_id) }}" class="nav-item nav-link">New post</a>
	</noscript>
	<script>
	 document.write("<a href=\"#\" class=\"nav-item nav-link\" data-toggle=\"modal\" data-target=\"#replyModal\">New post</a>")
	</script>
	<a href="{{ url_for("threads.view_gallery", thread_id=thread_id) }}" class="nav-item nav-link">Gallery</a>
{% endblock %}
{% block navbar_right %}
	<span class="navbar-item navbar-text">Views: <span class="text-light mr-1">{{ num_views }}</span></span>
	<span class="navbar-item navbar-text">Attachments: <span class="text-light mr-1">{{ num_media }}</span></span>
	<span class="navbar-item navbar-text">Posters: <span class="text-light mr-1">{{ num_posters }}</span></span>
{% endblock %}
{% block content %}
	<div class="modal fade" id="replyModal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Reply to thread</h5>
				</div>
				<div class="modal-body">
					{% import "post-base.html" as post with context %}
					{{ post.post_form(url_for("threads.post_submit", thread_id=thread_id), "thread", thread_id, False) }}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" form="postForm">Submit</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script>
	 $("#replyModal").on("show.bs.modal", function(event) {
		 var href = $(event.relatedTarget)
		 if(href.attr("data-post")) {
			 var postId = href.data("post")
			 var modal = $(this)
			 var oldText = $("#form-body").val()
			 $("#form-body").val(oldText + ">>" + postId)
		 }
	 })
	</script>
	<div class="container-fluid">
		{% for post in posts %}
			{% import "post-view.html" as post_view %}
			{{ post_view.render_post(post, thread_id, loop.first) }}
		{% endfor %}
		<a href="#" name="thread-bottom"></a>
		<script>
		 $(".img-animated").hover(function() {
			 $(this).attr("src", $(this).data("full"))
			 $(this).data("old-opacity", $(this).css("opacity"))
			 $(this).css("opacity", "1")
			 id = $(this).data("id")
			 $("#spoiler-label-" + id).hide()
		 }, function() {
			 $(this).attr("src", $(this).data("thumb"))
			 $(this).css("opacity", $(this).data("old-opacity"))
			 id = $(this).data("id")
			 $("#spoiler-label-" + id).show()
		 })
		 $(".post-vid").hover(function() {
			 var media_id = $(this).data("id")
			 $("#spoiler-label-" + media_id).toggle()
			 var vid = $("#vid-" + media_id)
			 vid.data("old-opacity", vid.css("opacity"))
			 vid.css("opacity", "1")
			 vid.get(0).play()
			 vid.get(0).onplay = function() {
				 vid.toggle()
				 $("#thumb-" + media_id).toggle()
			 }
		 }, function() {
			 var media_id = $(this).data("id")
			 $("#thumb-" + media_id).toggle()
			 $("#spoiler-label-" + media_id).toggle()
			 var vid = $("#vid-" + media_id)
			 vid.css("opacity", vid.data("old-opacity"))
			 vid.get(0).currentTime = 0
			 vid.get(0).pause()
			 vid.toggle()
		 })
		</script>
	</div>
{% endblock %}
