{%- extends "base.html" %}
{% block title %}
	{% if posts[0]["subject"] != "" %}
		{{ posts[0]["subject"] }}
	{% else %}
		view thread
	{% endif %}
{% endblock %}
{% block head %}
	{% if config["USE_RECAPTCHA"] %}
		<script src='https://www.google.com/recaptcha/api.js?render={{ config["RECAPTCHA_SITE_KEY"] }}'></script>
	{% endif %}
	<style>
	 .media-container {
		 position: relative;
		 text-align: center;
	 }
	 .spoiler-label {
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translate(-50%, -50%);
		 font-size: 6em;
	 }
	</style>
{% endblock %}
{% block navbar %}
	<noscript>
		<a href="{{ url_for("threads.new_post", thread_id=thread_id) }}" class="nav-item nav-link">New post</a>
	</noscript>
	<script>
	 document.write("<a href=\"#\" class=\"nav-item nav-link\" data-toggle=\"modal\" data-target=\"#replyModal\">New post</a>")
	</script>
	<a href="{{ url_for("threads.view_gallery", thread_id=thread_id) }}" class="nav-item nav-link">Gallery</a>
{% endblock %}
{% block navbar_right %}
	<span class="navbar-item navbar-text">Views: <span class="text-light mr-1">{{ num_views }}</span></span>
	<span class="navbar-item navbar-text">Attachments: <span class="text-light mr-1">{{ num_media }}</span></span>
	<span class="navbar-item navbar-text">Posters: <span class="text-light mr-1">{{ num_posters }}</span></span>
{% endblock %}
{% block content %}
	<div id="dummy-reply" class="row" style="display: none;">
		<div class="col-auto">
			<small class="text-secondary">Replies:</small>
			<div class="post-replies">
			</div>
		</div>
	</div>
	<div class="modal fade" id="replyModal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Reply to thread</h5>
				</div>
				<div class="modal-body">
					{% import "post-base.html" as post with context %}
					{{ post.post_form(url_for("threads.post_submit", thread_id=thread_id), "thread", thread_id, False) }}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" form="postForm">Submit</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script>
	 $("#replyModal").on("show.bs.modal", function(event) {
		 var href = $(event.relatedTarget)
		 if(href.attr("data-post")) {
			 var postId = href.data("post")
			 var modal = $(this)
			 var oldText = $("#form-body").val()
			 $("#form-body").val(oldText + ">>" + postId)
		 }
	 })
	</script>
	<div class="container-fluid" id="thread-container">
		{% for post in posts %}
			{% import "post-view.html" as post_view %}
			{{ post_view.render_post(post, thread_id, loop.first) }}
		{% endfor %}
		<a href="#" id="thread-bottom" name="thread-bottom"></a>
		<script>
		 function load_tooltip() {
			 var original_tooltip = $(this)
			 if(original_tooltip.data("loaded") == "true") {
				 return
			 }
			 var post_id = original_tooltip.data("post-id")
			 var post = $("#" + post_id);
			 if(post.length == 1) {
				 original_tooltip.data("loaded", "true")
				 original_tooltip.attr("title", post.find(".post-body").html())
				 original_tooltip.tooltip("_fixTitle")
				 original_tooltip.tooltip("show")
			 } else {
				 var xhr = new XMLHttpRequest()
				 xhr.responseType = "document"
				 xhr.onload = function() {
					 original_tooltip.data("loaded", "true")
					 var post_body = $(this.responseXML).find(".post-body").html()
					 original_tooltip.attr("title", post_body)
					 original_tooltip.tooltip("_fixTitle")
					 original_tooltip.tooltip("show")
				 }
				 var loc = window.location
				 var endpoint = loc.protocol + "//" + loc.hostname + (loc.port? ":" + loc.port : "") + "/threads/post/" + post_id
				 xhr.open("GET", endpoint)
				 xhr.send()
			 }
		 }
		</script>
		<script>
		 var firehose = new EventSource("/api/v1/live")
		 firehose.addEventListener("new-client", function(e) {
			 var client_id = e.data
			 var raw_subscribe_data = {"client-id": client_id,
									   "subscribe": {"thread": [ {{ thread_id }} ]}}
			 var subscribe_data = JSON.stringify(raw_subscribe_data)
			 $.ajax({
				 type: "POST",
				 url: "/api/v1/live",
				 dataType: "json",
				 data: subscribe_data,
				 contentType: "application/json",
				 success: function(_) {
					 firehose.addEventListener("new-post", function(e) {
						 var data = JSON.parse(e.data)
						 var post_id = data.post
						 $.get("/threads/post/" + post_id, function(raw_post_body) {
							 var post_body = $.parseHTML(raw_post_body, null, true)
							 $("#thread-bottom").before(post_body)
							 $(post_body).find(".post-reply").tooltip()
							 $(post_body).find(".post-reply").on("show.bs.tooltip", load_tooltip)
						 })
					 })
					 firehose.addEventListener("new-reply", function(e) {
						 var data = JSON.parse(e.data)
						 var reply_to_id = data.reply_to
						 var post_div = $("#" + reply_to_id)
						 var reply_field = post_div.find(".post-replies")
						 if(reply_field.length == 0) {
							 var reply_template = $("#dummy-reply").clone()
							 reply_template.attr("id", "")
							 reply_template.css("display", "inline-block")
							 post_div.find(".post-body").before(reply_template)
						 }
						 var new_reply = $("<a/>")
						 new_reply.addClass("badge badge-secondary post-reply")
						 var thread = data.thread
						 var original_post_id = data.post
						 new_reply.attr("href", "/threads/" + thread + "#" + original_post_id)
						 new_reply.data("post-id", original_post_id)
						 new_reply.data("toggle", "tooltip")
						 new_reply.data("placement", "bottom")
						 new_reply.data("html", true)
						 new_reply.data("title", "<i>Loading...</i>")
						 new_reply.data("loaded", "false")
						 new_reply.html("&gt;&gt;" + original_post_id)
						 reply_field = post_div.find(".post-replies")
						 reply_field.append(new_reply)
						 new_reply.tooltip()
						 new_reply.on("show.bs.tooltip", load_tooltip)
					 })
				 }
			 })
		 })
		</script>
		<script>
		 $(".post-reply").on("show.bs.tooltip", load_tooltip)
		</script>
		<script>
		 $(function () {
			 $('.post-reply').tooltip()
		 })
		</script>
		<script>
		 $(".img-animated").hover(function() {
			 $(this).attr("src", $(this).data("full"))
			 $(this).data("old-opacity", $(this).css("opacity"))
			 $(this).css("opacity", "1")
			 id = $(this).data("id")
			 $("#spoiler-label-" + id).hide()
		 }, function() {
			 $(this).attr("src", $(this).data("thumb"))
			 $(this).css("opacity", $(this).data("old-opacity"))
			 id = $(this).data("id")
			 $("#spoiler-label-" + id).show()
		 })
		 $(".post-vid").hover(function() {
			 var media_id = $(this).data("id")
			 $("#spoiler-label-" + media_id).toggle()
			 var vid = $("#vid-" + media_id)
			 vid.data("old-opacity", vid.css("opacity"))
			 vid.css("opacity", "1")
			 vid.get(0).play()
			 vid.get(0).onplay = function() {
				 vid.toggle()
				 $("#thumb-" + media_id).toggle()
			 }
		 }, function() {
			 var media_id = $(this).data("id")
			 $("#thumb-" + media_id).toggle()
			 $("#spoiler-label-" + media_id).toggle()
			 var vid = $("#vid-" + media_id)
			 vid.css("opacity", vid.data("old-opacity"))
			 vid.get(0).currentTime = 0
			 vid.get(0).pause()
			 vid.toggle()
		 })
		</script>
	</div>
{% endblock %}
