@import "base";

body {
	margin: 0;
	font-family: "Fira Sans";
	background-color: #dee2e6;
	color: #212529;
}

p {
	max-width: 90ch;
}

.lead {
	font-size: 1.25rem;
}

.jumbotron {
	background-color: #f8f9fa;
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.navbar {
	background-color: #f8f9fa;
}


.navbar-link {
	color: #212529;
}

.navbar-site-name {
	color: #212529;
}

.thread {
	background-color: #f8f9fa;
	color: #212529;
}

.thread-stats-container {
	color: #868e96;
}

.text-secondary {
	color: #868e96;
}

.post-container {
	margin-bottom: 1rem;
	background-color: #f8f9fa;
	margin-top: 1rem;
}

.board-entry {
	background-color:  #f8f9fa;
	background-blend-mode: luminosity;
}

.board-label {
	color: #212529;	
}

.btn {
	color: #f8f9fa;
}

.btn-primary {
	background-color: #343a40;
}
.btn-primary:hover {
	background-color: #212529;
}

.btn-secondary {
	background-color: #868e96;
}

.btn-secondary:hover {
	background-color: #495057
}
